In [33]:
from step_02_load_data.main import load
from step_03_clean_data.clean import clean

In [34]:
df=load()

In [35]:
df=clean(df)

In [36]:
df[('my features', 'basic count')]=0
df[('my features', 'advanced count')]=0

In [37]:
tests_basic={'has kitchen':df['Group 2','Fully equipped kitchen'],
            'is furnished':df['Group 2','Furnished'], 
            }

In [38]:
tests_advanced={
    'has garden':df['Group 2','Garden'],
    'garden is big':df['Group 2','Area of the garden']>100,
    'has lot of land':df['Group 2','Area of the garden']>300,
    'has lot of facades':df['Group 2','Number of facades']>2,
    'has a swimming pool': df['Group 2','Swimming pool']
    
}

In [39]:
for key, test in tests_basic.items():
    df.loc[test, ('my features','basic counter')] += 1

In [40]:
for key, test in tests_advanced.items():
    df.loc[test, ('my features','advanced counter')] += 1

In [42]:
import numpy as np
df[('Target','logPrice')] = df[('Target','Price')].apply(lambda x: np.log(x))

In [43]:
df.head()

              Target         Group 1                            Group 2  \
               Price Number of rooms Living Area Fully equipped kitchen
Offer Id
rent  1610665  485.0             1.0        40.0                   True
      2718948  790.0             2.0       140.0                   True
      3229637  900.0             3.0       103.0                  False
      3860205  520.0             2.0        50.0                   True
      4141598  760.0             1.0        55.0                   True

                                                                      \
              Furnished Open fire Terrace Area of the terrace Garden
Offer Id
rent  1610665     False     False   False                 0.0  False
      2718948     False     False   False                 0.0  False
      3229637     False     False   False                 0.0   True
      3860205     False     False   False                 0.0  False
      4141598     False     False    True                30.0   True

                                                                        \
              Area of the garden Surface of the land Number of facades
Offer Id
rent  1610665                0.0                 0.0               2.0
      2718948                0.0                 0.0               2.0
      3229637              330.0               400.0               3.0
      3860205                0.0                 0.0               2.0
      4141598            10000.0                 0.0               2.0

                                          Group 1 Spatial      Group 2  \
              Swimming pool State of the building zipcode         type
Offer Id
rent  1610665         False     \nExcellentétat\n    4020       Studio
      2718948         False               \nBon\n    3200  Appartement
      3229637         False               \nBon\n    7020       Maison
      3860205         False               \nBon\n    6900  Appartement
      4141598         False       \nÀrafraîchir\n    1470  Appartement

              features counter             Target
                         basic advanced  logPrice
Offer Id
rent  1610665                1        0  6.184149
      2718948                1        0  6.672033
      3229637                0        4  6.802395
      3860205                1        0  6.253829
      4141598                1        3  6.633318

In [ ]:
df['Group1']

In [ ]:
df = df.assign(new_column=df['column1'] * df['column2'])