In [72]:
infos = {'Id': '100','price':100}

In [73]:
liste=[]
liste.append(infos)
liste.append(infos)

In [74]:
import pandas as pd

In [77]:
df = pd.DataFrame(columns = ["Fee","Discount"])

In [86]:
df.index.names=['Id']

In [103]:
df.loc['t']=[2,2]
df.loc['r']=[2,1]

In [104]:
df

   Fee Discount
Id
t    2        2
r    2        1

In [102]:
import numpy as np
import random
l=[i for i in range(20)]
t=np.array_split(l,4)
print(t)

[array([0, 1, 2, 3, 4]), array([5, 6, 7, 8, 9]), array([10, 11, 12, 13, 14]), array([15, 16, 17, 18, 19])]