In [3]:
import pandas as pd

In [4]:
import pandas as pd

data = {('A', 'X1'): [1, 4, 7],
        ('A', 'X2'): [2, 5, 8],
        ('B', 'X1'): [3, 6, 9],
        ('B', 'X2'): [4, 7, 10]
       }

df = pd.DataFrame(data, index=['I1', 'I2', 'I3'])
df.index.names = ['Index']
df.columns.names = ['Group', 'Letters']

In [5]:
df

Group    A     B
Letters X1 X2 X1  X2
Index
I1       1  2  3   4
I2       4  5  6   7
I3       7  8  9  10